*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  intestazione  */
#logo{
  width: 150px;
  margin-top: 20px;
  padding-left: 1%;
}

header{
    height: 60px;
    background-image: url(img/pattern.png);
    background-size: 20%;
    background-color: cornflowerblue;
    margin-bottom: 1%;
    }

/* corpo dell articolo */
    
main{
        padding-left: 1%;
    }


    /* title */
    .title h1{
        padding-right: 30%;
    }


    /* under the title */
    .copyright{
        font-size: 12px;
        display: block;
        color: grey;
        font-weight: bold;
    }
    /* descrizione foto */

    .pic-description span {
        display: block;
    }

    .title :nth-last-child(3){
        margin-bottom: 1%;

    }

    /* intro */
    .intro{
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 20px;
        font-weight: bold;
    }

    .intro span {
        background-color: yellow;
    }

    /* <!-- lista -->*/
    ul{
        padding-left: 1%;
        margin-bottom: 2%;
        font-size: 20px;
        font-weight: bold;
    }

    /* tabella dati  */
  
    .tab{
        border-collapse: collapse;
        width: 100%;
        font-size: 17px;
        font-weight: bold;
    }

    .tab-int{
        background-color:#3399ff ;
        color: white;
        
    }

    .tab-int th{
        text-align: left;
        width: 10px;
    }

    .even-line{
        background-color:#66ccff;
    }

     /* foto e suggerimenti  */

     h3{
        margin-left: 10px;
        margin-top: 50px;
        color: grey;
     }

     .footer-image1{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding-left: 1%;
        padding-top: 1%;
        display: block;
        background-image: url("img/monitor.jpg") ;
        width: 270px;
        height: 208px;
     }

         .footer-image2{
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 25px;
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding-left: 1%;
        padding-top: 1%;
        display: block;
        background-image: url("img/graph.jpg") ;
        width: 270px;
        height: 208px;
     }
   
